.center {
    text-align: center;
}

/* ng2-smart-table*/
:host  ng2-smart-table table {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12) !important;
    height: 350px;
}

:host  ng2-smart-table tbody > tr > td:first-child {
    color: royalblue;
}

:host  ng2-smart-table tbody > tr > td {
    border-bottom: 1px solid grey;
    font-size: .875em;
    padding: .375em .75em;
}

:host  ng2-smart-row {
    border-bottom: 1px solid black !important;
}

:host  ng2-smart-row > tr {
    border-bottom: 1px solid black !important;
}

:host  ng2-smart-row > td {
    border-bottom: 1px solid black !important;
}

:host  ng2-smart-table_cell {
    border-bottom: 1px solid red !important;
}

:host  ng2-smart-table tbody > tr > td > a {
    color: grey;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
}

:host  ng2-smart-table tbody > tr > th > a {
    color: grey;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
}

/* clickable paging number */
:host  a.ng2-smart-page-link.page-link {
    height: 22px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    color: royalblue;
    font-weight: bold;
    line-height: 6px;
}
/* selected paging number */
:host  span.ng2-smart-page-link.page-link {
    height: 22px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    line-height: 6px;
}

:host  span.ng2-smart-page-item.page-item.disabled {
    height: 22px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    color: grey;
    font-weight: bold;
    line-height: 6px;
}

/* previous paging button */
:host  a.ng2-smart-page-link.page-link.page-link-prev {
    height: 22px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    color: royalblue;
    font-weight: bold;
    line-height: 6px;
}

/* previous paging button disabled */
:host  span.ng2-smart-page-link.page-link.page-link-prev.disabled {
    height: 22px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    color: grey;
    font-weight: bold;
    line-height: 6px;
}

/* next paging button */
:host  a.ng2-smart-page-link.page-link.page-link-next {
    height: 22px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    color: royalblue;
    font-weight: bold;
    line-height: 6px;
}

/* next paging button */
:host  span.ng2-smart-page-link.page-link.page-link-next.disabled {
    height: 22px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    color: grey;
    font-weight: bold;
    line-height: 6px;
}