<app-header title="casas"></app-header>

<!---
    Recorremos los datos que nos esta devolviendo el servicio del cual nos estamos consumiendo desde el typescrit
-->
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="3" *ngFor="let house of houses | async">
                <ion-card >
                    <ion-card-header class="header-card">
                        <ion-card-title color="light">{{ house.name }}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content class="content-card">
                        <!-- <ion-label><b>Escuela:</b> {{ house.school }}</ion-label><br> -->
                        <ion-label><b>Fundador:</b> {{ house.founder }}</ion-label><br>
                        <ion-label><b>Jefe de la casa:</b> {{ house.headOfHouse }}</ion-label><br>
                        <ion-label><b>Casa:</b> {{ house.houseGhost }}</ion-label>
                        <div class="footer">
                            <img src="../../../assets/images/school-potter.jpg" alt="">
                        </div>
                    </ion-card-content>
                </ion-card>
                <ion-col size="6" offset="3">
                    <ion-button   expand="block"  shape="round" (click)="openModal(house._id)">
                        Ver miembros
                    </ion-button>
                </ion-col>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
