<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="principalMenu">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="../../../assets/images/3.jpg" alt="20" width="50" height="50">
      Magican School Education
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="4">
        <ion-card style="background-color: darkslategray; color: white;">
          <ion-card-header>
            <ion-card-title class="ion-text-center" color="light">Harry Potter</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-col size="8" offset="1.5">
              <img src="../../../assets/images/potter.jpg" alt="" >
              <br>
              <div style="padding-top: 10px;">
                <ion-label class="ion-text-center">
                  Lorem iion-labelsum dolor sit amet consectetur adipisicing elit. Architecto tenetur
                  facilis tempore voluptas est dolorem repellendus non impedit eveniet in labore culpa
                  illum, reiciendis dignissimos mollitia et excepturi pariatur aspernatur voluptas est dolorem repellendus non impedit eveniet in labore culpa
                  illum !
                </ion-label>
              </div>
            </ion-col>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card style="background-color: black; color: blanchedalmond;">
          <ion-card-header>
            <ion-card-title color="light" class="ion-text-center">Voldemort</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-col size="8">
              <img src="../../../assets/images/1.jpg" alt="" >
              <br>
              <div style="padding-top: 10px;">
                <ion-label class="ion-text-center">
                  Lorem iion-labelsum dolor sit amet consectetur adipisicing elit. Architecto tenetur
                  facilis tempore voluptas est dolorem repellendus non impedit eveniet in labore culpa
                  illum, reiciendis dignissimos mollitia et excepturi pariatur aspernatur  non impedit eveniet i
                  ugsudgu!
                </ion-label>
              </div>
            </ion-col>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card style="background-color: darkslategray; color: blanchedalmond;">
          <ion-card-header>
            <ion-card-title color="light" class="ion-text-center">Severus</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-col size="8">
              <img src="../../../assets/images/2.jpg" alt="" >
              <br>
              <div style="padding-top: 10px;">
                <ion-label class="ion-text-center">
                  Lorem iion-labelsum dolor sit amet consectetur adipisicing elit. Architecto tenetur
                  facilis tempore voluptas est dolorem repellendus non impedit eveniet in labore culpa
                  illum, reiciendis dignissimos mollitia et excepturi pariatur aspernatur, illum, reiciendis dignissimos mollitia et excepturi pariatur aspernatur
                  acilis tempore voluptas est dolorem repellendusc!
                </ion-label>
              </div>
            </ion-col>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>

  

</ion-content>
