
<!-- 
  Componente de menu que sera utilizado en el proyecto, si se quiere añadir una pagina mas se debera
  de modificar el json del menu, que es el que guarda todas las opciones que se esten pintando
-->

<ion-menu side="start" menuId="principalMenu" contentId="principal">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle  *ngFor="let page of Pages | async">
        <ion-item [routerLink]="page.redirect" detail>
            <ion-icon slot="start" [name]="page.icon"></ion-icon>
            <ion-label>{{ page.name }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>